* {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

.head {
    font-size: 34px;
    color:red;
    outline: black auto;
    text-align: center;
}

.head.sec {
    font-size: 24px;
}

ol,
ul {
    font-weight: 700;
}

button {
    margin: 8px auto;
    padding: 8px;
    font-size: 20px;
    background-color: azure;
    color: red;
}